<div>
  <div *ngIf="error">{{error}}</div>
  
  <div class="submit-form">
    <form [formGroup]="form" *ngIf="!submitted || form.invalid" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" formControlName="author" id="author" name="author" />
        <div *ngIf="submitted && f['author'].errors">
          <div *ngIf="f['author'].errors['required']">Author is required</div>
          <div *ngIf="f['author'].errors['minlength']">
            Author must be at least 1 character
          </div>
          <div *ngIf="f['author'].errors['maxlength']">
            Aauthor must not exceed 30 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title" name="title" />
        <div *ngIf="submitted && f['title'].errors">
          <div *ngIf="f['title'].errors['required']">Title is required</div>
          <div *ngIf="f['title'].errors['minlength']">
            Title must be at least 1 character
          </div>
          <div *ngIf="f['title'].errors['maxlength']">
            Title must not exceed 50 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" required formControlName="description" name="description" />
        <div *ngIf="submitted && f['description'].errors">
          <div *ngIf="f['description'].errors['maxlength']">
            Description must not exceed 1000 characters
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <div *ngIf="submitted && !form.invalid">
      <h4>Book was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newBook()">Add</button>
    </div>
  </div>
</div>